@font-face {
  font-family: "Norse-Font";
  src: url("./Norse-Bold.otf") format("opentype");
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
}
#root,
#__next {
  isolation: isolate;
}
/* 
  Start
*/
body {
  display: flex;
  height: 100vh;
}

.left-side {
  background-image: url("../img/halie-west-25xggax4bSA-unsplash.jpg");
  flex: 1;
  background-size: cover;
  color: #eeeeee;
  position: relative;
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 15vh;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Norse-Font, "Times New Roman", Times, serif;
  opacity: 1;
  font-size: 7vw;
  flex-shrink: 2;
}

.logo {
  width: 6vw;
}

.attribution {
  position: absolute;
  bottom: 1vh;
  align-self: center;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1.5;
  background-color: #eeeeee;
}

.description {
  padding: 4rem 3rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.form {
  width: 100%;
}

fieldset {
  border: 0;
  padding: 1rem 3rem;
}

.form-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: 1px lightgray solid;
  box-shadow: 5px 3px 5px lightgray;
  background-color: #ffffff;
}

fieldset > div {
  display: flex;
  gap: 3rem;
  padding: 0.2rem 0;
}

fieldset > div > div {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 6px;
  border: 1px solid gray;
}

h2 {
  padding-bottom: 0.5rem;
}

button {
  color: white;
  background-color: #596d48;
  margin: 1.5rem 3rem 0rem;
  padding: 0.5rem 2.5rem;
  border-radius: 6px;
}

.form > p {
  margin: 1rem 3rem;
}

a {
  text-decoration-line: none;
  color: #596d48;
  font-weight: bold;
}
